div.view-allies {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;

  .view-header {
    margin-bottom: 30px;
    text-align: center;

    @include respond-to(mobile) {
      margin-bottom: 10px;
    }

    h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 15px;
    }
  }

  div.view-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div.views-row {
      width: 25%;
      padding: 30px;
      @include respond-to(tablet) {
        width: 50%;
        padding: 20px;
      }
      @include respond-to(mobile) {
        width: 100%;
        padding: 10px;
      }

      footer {
        display: none;
      }
    }
  }
}