body.node-type-page-allies {
  .l-page {
    background-image: url(../assets/img/allies-map.gif);
    background-repeat: no-repeat;
    background-position: center 90px;
    width: 100%;

    .tabs--primary {
      display: none;
    }

    .l-content {
      background-color: white;
      margin-top: 390px;
      ul.nav-tabs {
        display: none;
      }
    }
  }

  h1 {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 20px !important;
  }

  .view-header a {
    display: none;
  }

  .views-row {
    width: 20%;
    float: left;
    height: 220px;
    .img-responsive {
      margin: auto;
    }
  }
  .field-name-field-page-title {
    margin-bottom: 20px !important;
    font-size: 35px;
    text-align: center;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    font-weight: 800;
  }
  .field-name-field-page-subtitle {
    color: grey;
    font-size: 20px;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    line-height: 1.3;
    max-width: 625px;
    margin: auto;
    margin-bottom: 50px;
  }

  .field-name-field-body {
    padding-bottom: 60px;
    .field-items {
      width: 750px;
      margin: auto
    }
  }
}

@include respond-to(tablet) {
  body.node-type-page-allies {
    .l-page {
      background-image: url(../assets/img/allies-map.gif);
      background-size: 100% auto;

      .l-content {
        margin-top: calc(24vw - 30px);

        .field-name-field-body {
          .field-items {
            width: 100%;
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

@include respond-to(small) {
  body.node-type-page-allies {
    .l-page {
      background-position: center 50px;
      .l-content {
        margin-top: calc(24vw + 10px);

        .field-name-field-body {
          padding-bottom: 30px;

          .field-items {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
