body.node-type-basic-page {
    section#block-system-main {
        box-sizing: border-box;
        padding: 30px;
        background: white;

        article.node-basic-page .field-name-field-body .field-items .field-item {
            &> *:last-child {
                margin-bottom: 0;
            }
        }
    }
}
