.node-process.node-teaser {
    width: 750px;
    position: relative;

    header, footer {
        display: none;
    }

    .field-name-field-process-steps {
        &>.field-items>.field-item {
            margin-bottom: 30px;
        }
    }
}

@include respond-to(small) {
    .node-process.node-teaser {
        width: 100%;
    }
}

@include respond-to(tablet) {
    .node-process.node-teaser {
        .field-name-field-process-steps {
            & > .field-items > .field-item {
                margin-bottom: 20px;
            }
        }
    }
}

