body.page-node-steps {

  h1#title {
    display: none;
  }

  .region-content {
    overflow: hidden;

    #block-main-private-main-private-contextual {
      float: left;
      margin-top: 30px;
    }

    #block-system-main {
      float: left;
      margin-left: 60px;
      margin-top: 30px;
    }
  }
}

@include respond-to(small) {
  body.page-node-steps {
    .region-content {
      #block-system-main {
        margin-left: 30px;
        width: calc(100% - 30px - 250px);
      }
    }
  }
}

@include respond-to(tablet) {
  body.page-node-steps {
    .region-content {
      #block-main-private-main-private-contextual {
        width: 100%;
      }
      #block-system-main {
        margin-left: 0px;
        width: 100%;
      }
    }
  }
}