.node-ally.node-full {
  .field-name-field-banner {
    position: relative;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;

    img {
      width: 100%;
      height: auto;
    }

    .field-slideshow-controls {
      position: absolute;
      top: 50%;
      margin-top: -14px;
      z-index: 1000;
      width: 1140px;
      padding-left: 10px;
      padding-right: 10px;

      a {
        &:before {
          font-family: FontAwesome;
          color: white;
          font-size: 30px;
          text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        }

        &.prev {
          color: transparent;
          &:before {
            content: '\f053';
          }
        }
        
        &.next {
          color: transparent;
          &:before {
            content: '\f054';
            float: right;
          }
        }
      }
    }
  }

  .field-name-field-page-title {
    text-align: center;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    margin: auto;
  }

  .group-top {
    max-width: 1200px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;

    .group-brand {
      float: left;
      width: 330px;

      .field-name-field-logo {
        margin-bottom: 15px;
      }
      .field-name-field-website-link {
        word-wrap: break-word;
      }
    }

    .field-name-field-body {
      float: left;
      margin-left: 60px;
      width: calc(100% - 330px - 60px);
      padding-bottom: 50px;
    }
  }

  .field-name-field-history-description, .field-name-field-history-title, .group-chronology {
    width: 100%;
    margin: auto;
    h3 {
      display: none;
    }
  }

  .field-name-field-history-description {
    margin-bottom: 30px;
    max-width: 750px;
  }

  .field-name-field-history-title {
    max-width: 750px;
    margin: auto;
    padding: 70px 0px 30px;
    font-size: 24px;
    letter-spacing: 0.8px;
    font-weight: bold;
    text-align: center;
  }

  .field-name-field-chronology-items-group,
  .field-name-field-chronology-items {
    max-width: 750px;
    margin: auto;
    padding: 0 0 30px;
    .field-label {
      display: none;
    }
  }
}
body.node-type-ally {
  header.l-header {
    position: relative;
    z-index: 2;
  }
}

body.node-type-ally {
  .l-main {
    z-index: 1;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }
}

@include respond-to(small) {
  .node-ally.node-full {

    .field-name-field-banner {
      .field-slideshow-controls {
        width: calc(100% - 60px);
      }
    }

    .group-top {
      .group-brand {
        width: 250px;
      }

      .field-name-field-body {
        width: calc(100% - 250px - 30px);
        margin-left: 30px;
      }
    }
  }
}

@include respond-to(tablet) {
  .node-ally.node-full {
    .field-name-field-banner {
      display: block;
      height: auto;
      max-width: 1200px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;

      .field-slideshow-controls {
        width: calc(100% - 40px);
      }
    }
    .field-name-field-page-title {
      padding: 0;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .group-brand {
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@include respond-to(mobile) {
  .node-ally.node-full {

    .field-name-field-banner {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;

      .field-slideshow-controls {
        width: calc(100% - 20px);
      }
    }

    .field-name-field-page-title {
      padding: 0;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-top: 10px;
    }

    .group-top {
      .group-brand {
        width: auto;
        float: none;
        text-align: center;

        img {
          display: inline-block;
        }
      }

      .field-name-field-body {
        width: auto;
        margin: 0px;
        float: none;
      }
    }
  }
}
