.node-steps.node-full, .node-steps.node-default {
    position: relative;
    background-color: white;
    border-bottom: 3px solid $orange;
    padding: 30px;

    background-color: white;
    border-bottom: 3px solid $orange;
    padding: 30px;
    background-position: 30px 32px;
    background-size: 50px 50px;
    background-repeat: no-repeat;

    &.import {
        &.step-1 {
            background-image: url('../assets/pictos/steps/import-step1.svg');
        }
        &.step-2 {
            background-image: url('../assets/pictos/steps/import-step2.svg');
        }
        &.step-3 {
            background-image: url('../assets/pictos/steps/import-step3.svg');
        }
        &.step-4 {
            background-image: url('../assets/pictos/steps/import-step4.svg');
        }
        &.step-5 {
            background-image: url('../assets/pictos/steps/import-step5.svg');
        }
        &.step-6 {
            background-image: url('../assets/pictos/steps/import-step6.svg');
        }
        &.step-7 {
            background-image: url('../assets/pictos/steps/import-step7.svg');
        }
    }

    &.international {
        background-image: url('../assets/pictos/picto.svg');
        &.step-1 {
            background-image: url('../assets/pictos/steps/international-step1.svg');
        }
        &.step-2 {
            background-image: url('../assets/pictos/steps/international-step2.svg');
        }
        &.step-3 {
            background-image: url('../assets/pictos/steps/international-step3.svg');
        }
    }

    &.international-portal {
        &.step-1 {
            background-image: url('../assets/pictos/steps/international-portal-step1.svg');
        }
        &.step-2 {
            background-image: url('../assets/pictos/steps/international-portal-step2.svg');
        }
        a.arrow {
            &:nth-last-child(2) {
                float: right !important;
            }
        }
    }

    .step-index {
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 10px;
        margin-left: 60px;
    }

    & > .field-name-title-field {
        font-size: 35px;
        font-weight: 800;
        line-height: 35px;
        margin-left: 60px;
        margin-bottom: 40px;
    }

    .field-name-body {
        margin-bottom: 50px;
    }

    .field-name-field-best-practices, .field-name-field-to-be-avoided {
        display: inline-block;
        vertical-align: top;
        width: 45%;
        padding-left: 30px;

        .field-label {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 25px;
        }

        &.wysiwyg div.field-items div.field-item ul {
            padding-left: 10px;
        }
    }

    .field-name-field-best-practices {
        border-left: 3px solid $green;
        margin-right: 5%;

        .field-label {
            display: block;
            color: $green;
            &:before {
                display: inline-block;
                content: '';
                width: 35px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: auto 20px;
                background-position: center left;
                color: $green;
                background-image: url('../assets/pictos/go.svg');
            }

        }
    }

    .field-name-field-to-be-avoided {
        border-left: 3px solid $red;
        margin-bottom: 50px;

        .field-label {
            display: block;
            color: $red;
            &:before {
                display: inline-block;
                content: '';
                width: 35px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: auto 20px;
                background-position: center left;
                color: $red;
                background-image: url('../assets/pictos/no-go.svg');
            }
        }
    }

    .field-name-field-sub-steps {
        & > .field-items > .field-item {
            margin-top: 15px;
        }
    }

    a {
        margin-top: 5px;
        margin-right: 10px;
    }
}

@include respond-to(tablet) {
    .node-steps.node-full, .node-steps.node-default {
        .step-index {
            line-height: 5px;
        }
        .field-name-field-best-practices, .field-name-field-to-be-avoided {
            width: 100% !important;
        }
        .field-name-field-to-be-avoided {
            margin-top: 50px;
        }
    }
}

@include respond-to(mobile) {
    .node-steps.node-full, .node-steps.node-default {
        padding: 20px;
        background-position: 20px 20px;

        .step-index {
            line-height: 5px;
        }

        & > .field-name-title-field {
            font-size: 24px;
            line-height: 20px;
        }

        .field-name-field-to-be-avoided, .field-name-field-best-practices {
            margin-left: -20px;
        }
    }
}
