.node-sub-steps.node-full {
  position: relative;
  width: 750px;
  background-color: white;
  padding: 30px;

  h1 {
    margin-bottom: 50px;
    line-height: 1em;
      color: $mediumGrey;
  }
  .field-name-field-best-practices, .field-name-field-to-be-avoided {
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding-left: 30px;

    .field-label {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 25px;
    }

    &.wysiwyg div.field-items div.field-item ul {
      padding-left: 10px;
    }
  }

  .field-name-field-best-practices {
    border-left: 3px solid $green;
    margin-right: 5%;
    .field-label {
      display: block;
      color: $green;
      &:before {
        display: inline-block;
        content: '';
        width: 35px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: auto 20px;
        background-position: center left;
        color: $green;
        background-image: url('../assets/pictos/go.svg');
      }
    }
  }

  .field-name-field-to-be-avoided {
    border-left: 3px solid $red;
    .field-label {
      display: block;
      color: $red;
      &:before {
        display: inline-block;
        content: '';
        width: 35px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: auto 20px;
        background-position: center left;
        color: $red;
        background-image: url('../assets/pictos/no-go.svg');
      }
    }
  }
  .field-name-field-quality-content, .field-name-field-commercial-content {
    .field-label {
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    background-color: #F2F2F2;
    padding: 30px;
    margin-top: 20px;
  }
  h2 {
    font-size: 24px;
    margin: 50px 0 30px 0;
    color: $grey;
  }

  .field-name-field-documents {
    max-width: 560px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    .field-item:not(:last-child) .file {
      border-bottom: 0;
    }
  }
}

@include respond-to(small) {
  .node-sub-steps.node-full {
    width: 100%;
  }
}

@include respond-to(tablet) {
  .node-sub-steps.node-full {
    width: 100%;
    padding: 20px;
    float: left;
    .field-name-field-best-practices {
      width: 100%;
      padding: 20px;
      margin-top: 50px;
    }
    .field-name-field-to-be-avoided {
      width: 100%;
      margin-top: 50px;
      padding: 20px;
    }
  }
}

@include respond-to(mobile) {
  .node-sub-steps.node-full {
    max-width: 100%;
    .field-name-field-best-practices {
      width: 100%;
      margin-left: -20px;
    }
    .field-name-field-to-be-avoided {
      width: 100%;
      margin-left: -20px;
    }
  }
}
