#block-manage-manage-header-elements {
    margin-bottom: 15px;
    border: 1px solid #333333;
}

#block-manage-manage-header-elements h2 {
    display: none;
}

#block-manage-manage-header-elements .content ul li {
    display: inline-block;
    padding: 5px;
}
