$lightGrey: #f7f7f7;
$grey: #798588;
$mediumGrey: #5D5D5D;
$darkGrey: #1c2326;

$blue: #1E2A31;
$blueText: #1f3c4d;
$middleBlue: #6D8892;
$lightBlue: #1a3641;

$orange: #DD5533;
$darkOrange: #A82800;
$green: #5F9D62;
$red: #EB4058;
$breadcrumb: #68696B;
