#sliding-popup {
  .popup-content {
    #popup-text {
      margin-top: 10px !important;
      p {
        font-family: 'Open Sans';
        margin: 0 !important;
        color: white !important;
      }
    }
  }

  #popup-buttons {
    button {
      background: white !important;
      border-radius: 0px !important;
      margin-top: 10px !important;
      color: #798588 !important;
      margin-bottom: 5px;
    }
  }
}

@include respond-to(mobile) {
  #sliding-popup {
    height: 120px !important;
  }
}

#sliding-popup.sliding-popup-bottom {
  background: #798588 !important;
}
